project1{
    width: 100%;
}
p, h1{
    text-align: center;
    color: blue;
}

img{
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.thanks{
    color: rgb(8, 138, 25);
}